<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casual</title>
    <link rel="stylesheet" href="/stylesheet/casual.css">
</head>
<body>
    <nav id="navbar">
        <ul>
            <li class="item"><a href="/">Home</a></li>
            <li class="item"><a href="/service" target="_blank">Service</a></li>
            <li class="item"><a href="/about" target="_blank">About</a></li>
            <li class="item"><a href="/contact" target="_blank">Contact</a></li>

        </ul>
        <div><input type="text" placeholder="SearchHere"></div>
        
        <a href="/"><img id="logoimg" src="/images/logo.png" alt="" height="100vh" width="100vw"></a>
    </nav>
    <div class="frontimg">
        <img src="/images/casual frontimg.png" alt="" width="100%">
    </div>
    <div class="fronttext">
        <a href="/">Home</a>
        <span>/Casual item-12</span>
    </div>
    <div>
        <div id="oversized">
            <div id="layer1">
                <a id="oversized1" href="#"><img src="/images/antiquered9.png" height="250px" width="200px">
                    <div class="oversized1-2"><img src="/images/antiquered9-10.png" alt="" height="250px" width="200px">
                    </div>
                    <p id="looney">Antique Red</p>
                    <p>₹ 999</p>
                </a>
                <a id="oversized2" href="#"><img src="/images/horizonstripes12.png" width="200px" height="250px" alt="">
                    <div class="oversized2-1"><img src="/images/horizonstripes12-11.png" alt="" height="250px" width="200px">
                    </div>
                    <div id="peanuts">Horizantal Stripes</div>
                    <div>₹ 1199</div>
                </a>
                <a href="" id="oversized3"><img src="/images/oversized3.png" width="200px" height="250px" alt="">
                    <div class="oversized3-4"><img src="/images/oversized3-4.png" alt="" height="250px" width="200px">
                    </div>
                    <div>Relentless shark</div>
                    <div>₹999</div>
                </a>
                <a href="" id="oversized4"><img src="/images/pinkgrey10.png" width="200px" height="250px" alt="">
                    <div class="oversized4-3"><img src="/images/pinkgrey10-11.png" alt="" height="250px" width="200px">
                    </div>
                    <div>Pink Grey</div>
                    <div>₹799</div>
                </a>
            </div>
            <div id="layer2">
                <a href="" id="oversized5"><img src="/images/oversized5.png" alt="" width="200px" height="250px">
                    <div class="oversized5-6"><img src="/images/oversized5-6.png" alt="" height="250px" width="200px">
                    </div>
                    <div>Out off Office</div>
                    <div>₹699</div>
                </a>
                <a href="" id="oversized6"><img src="/images/oversized6.png" alt="" width="200px" height="250px">
                    <div class="oversized6-5"><img src="/images/oversized6-5.png" alt="" height="250px" width="200px">
                    </div>
                    <div>Solids: Emerald Green</div>
                    <div>₹649</div>
                </a>
                <a href="" id="oversized7"><img src="/images/whiteberrycolorblock7.png" alt="" width="200px" height="250px">
                    <div class="oversized7-8"><img src="/images/whiteberrycolorblock7-8.png" alt="" height="250px" width="200px">
                    </div>
                    <div>White Berry Color</div>
                    <div>₹899</div>
                </a><a href="" id="oversized8"><img src="/images/plaidpower4.png" alt="" width="200px" height="250px">
                    <div class="oversized8-7"><img src="/images/plaidpower4-3.png" alt="" height="250px" width="200px">
                    </div>
                    <div>Plaid Power</div>
                    <div>₹999</div>
                </a>
            </div>
            <div id="layer3">
                <a href="" id="oversized9"><img src="/images/redgrey5.png" alt="" width="200px" height="250px">
                    <div class="oversized9-10"><img src="/images/redgrey5-6.png" alt="" height="250px" width="200px">
                    </div>
                    <div>Red Grey</div>
                    <div>₹849</div>
                </a>
                <a href="" id="oversized10"><img src="/images/texrureblack8.png" alt="" width="200px" height="250px">
                    <div class="oversized10-9"><img src="/images/texrureblack8-7.png" alt="" height="250px" width="200px">
                    </div>
                    <div>Texture Black</div>
                    <div>₹999</div>
                </a>
                <a href="" id="oversized11"><img src="/images/zipwine6.png" alt="" width="200px" height="250px">
                    <div class="oversized11-12"><img src="/images/zipwine6-5.png" alt="" height="250px" width="200px">
                    </div>
                    <div>Zip Wine</div>
                    <div>₹799</div>
                </a>
                <a href="" id="oversized12"><img src="/images/midbluishwash7.png" alt="" width="200px" height="250px">
                    <div class="oversized12-11"><img src="/images/midbluishwash7-8.png" alt="" height="250px" width="200px">
                    </div>
                    <div>Mid Bluish</div>
                    <div>₹2999</div>
                </a>
            </div>

        </div>
        <div class="side">
            <h2 class="h2">Products</h2>
            <ul>
                <li class="slidechild"><input type="checkbox"><a href="#">Oversizedshirt</li></a>
                <li class="slidechild"><input type="checkbox"><a href="#">Joggers</a></li>
                <li class="slidechild"><input type="checkbox">T-shirt</li>
                <li class="slidechild"><input type="checkbox">Hoodie</li>
                <li class="slidechild"><input type="checkbox">Sneakers</li>
                <li class="slidechild"><input type="checkbox">Jackets</li>
                <li class="slidechild"><input type="checkbox">Perfume</li>
                <li class="slidechild"><input type="checkbox">Fan Edition</li>
                <li class="slidechild"><input type="checkbox">Self print</li>
            </ul>
            <div class="prices">
                <h2>Prices</h2>
                <ul>
                    <li><input type="checkbox">500 to 1000</li>
                    <li><input type="checkbox">1000 to 1200</li>
                    <li><input type="checkbox">1200 to 1500</li>
                    <li><input type="checkbox">1500 to 2000</li>
                </ul>
            </div>
        </div>
        
    </div>
</body>
</html>