<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="w-full h-full bg-zinc-900 ">
        <div class="nav text-blue-500 mb-10">
            <a href="/read">Read</a>
        </div>
        <div class="box"> <img src="/images/Category-Page-eCommerce-Gif.gif" alt="">
            <h1 class="updated">Updated</h1>
            <form action="/update/<%= user.id%>" method="post">
                <div class="block"><input
                        class="px-5 py-2 m-3 border-2 text-white border-zinc-800 outline-none rounded-lg bg-transparent"
                        type="text" name="name" placeholder="name" value="<%= user.name %>"></div>

                <div class="block"><input
                        class="px-5 py-2 m-3 border-2 text-white border-zinc-800 outline-none rounded-lg bg-transparent"
                        type="text" name="email" placeholder="email" value="<%= user.email %>"></div>

                <div class="block"><input
                        class="px-5 py-2 m-3 border-2 text-white border-zinc-800 outline-none rounded-lg bg-transparent"
                        type="text" name="password" placeholder="create password" value="<%= user.password %>"></div>


                <div class="blocksubmit"><input class="px-5 py-2 bg-yellow-500 rounded-lg ml-3" type="submit"
                        vlaue="Submit"></div>
            </form>
        </div>
    </div>
</body>

</html>