<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeans</title>
    <link rel="stylesheet" href="/stylesheet/jeans.css">
</head>

<body>
    <nav id="navbar">
        <ul>
            <li class="item"><a href="/">Home</a></li>
            <li class="item"><a href="/service" target="_blank">Service</a></li>
            <li class="item"><a href="/about" target="_blank">About</a></li>
            <li class="item"><a href="/contact" target="_blank">Contact</a></li>

        </ul>
        <div><input type="text" placeholder="SearchHere"></div>
        <div class="dropdown">
            <button class="dropbtn">More <i class="fa-caret-down"></i>




                <div class="dropdown-content">
                    <a href="/">Home</a>
                    <a href="#">My cart</a>
                    <a href="#">Oversizedshirt</a>
                    <a href="#">Jeans</a>
                    <a href="#">Winter</a>
                    <a href="#">Login/SignUp</a>
                </div>
        </div>
        <a href="/"><img id="logoimg" src="/images/logo.png" alt="" height="100vh" width="100vw"></a>
    </nav>
    <div class="frontimg">
        <img src="/images/jeans frontimg.png" alt="" width="100%">
    </div>
    <div class="fronttext">
        <a href="/">Home</a>
        <span>/Jeans item-12</span>
    </div>

    <div>
        <div id="jeans">
            <div id="layer1">
                <a id="jeans1" href="#"><img src="/images/Denim1.png" height="250px" width="200px">
                    <div class="jeans1-2"><img src="/images/Denim1-2.png" alt="" height="250px" width="200px">
                    </div>
                    <p id="looney">Denim</p>
                    <p>₹ 1899</p>
                </a>
                <a id="jeans2" href="#"><img src="/images/lightbegie2.png" width="200px" height="250px" alt="">
                    <div class="jeans2-1"><img src="/images/lightbegie2-1.png" alt="" height="250px" width="200px">
                    </div>
                    <div id="peanuts">Light Beggie</div>
                    <div>₹ 1099</div>
                </a>
                <a href="" id="jeans3"><img src="/images/Camel3.png" width="200px" height="250px" alt="">
                    <div class="jeans3-4"><img src="/images/Camel3-4.png" alt="" height="250px" width="200px">
                    </div>
                    <div>Camel</div>
                    <div>₹2449</div>
                </a>
                <a href="" id="jeans4"><img src="/images/cobalt4.png" width="200px" height="250px" alt="">
                    <div class="jeans4-3"><img src="/images/cobalt4-3.png" alt="" height="250px" width="200px">
                    </div>
                    <div>Cobalt blue jeans</div>
                    <div>₹1999</div>
                </a>
            </div>
            <div id="layer2">
                <a href="" id="jeans5"><img src="/images/greenlake5.png" alt="" width="200px" height="250px">
                    <div class="jeans5-6"><img src="/images/greenlake5-6.png" alt="" height="250px" width="200px">
                    </div>
                    <div>Green Lake</div>
                    <div>₹2699</div>
                </a>
                <a href="" id="jeans6"><img src="/images/oakbuff6.png" alt="" width="200px" height="250px">
                    <div class="jeans6-5"><img src="/images/oakbuff6-5.png" alt="" height="250px" width="200px">
                    </div>
                    <div>Oak Buff</div>
                    <div>₹1649</div>
                </a>
                <a href="" id="jeans7"><img src="/images/midbluishwash7.png" alt="" width="200px" height="250px">
                    <div class="jeans7-8"><img src="/images/midbluishwash7-8.png" alt="" height="250px" width="200px">
                    </div>
                    <div>Mid Bluish Wash</div>
                    <div>₹2899</div>
                </a><a href="" id="jeans8"><img src="/images/ashgrey8.png" alt="" width="200px" height="250px">
                    <div class="jeans8-7"><img src="/images/ashgrey8-7.png" alt="" height="250px" width="200px">
                    </div>
                    <div>Ash Grey</div>
                    <div>₹1999</div>
                </a>
            </div>
            <div id="layer3">
                <a href="" id="jeans9"><img src="/images/claws9.png" alt="" width="200px" height="250px">
                    <div class="jeans9-10"><img src="/images/claws9-10.png" alt="" height="250px" width="200px">
                    </div>
                    <div>Blacck Panther: Claws</div>
                    <div>₹1749</div>
                </a>
                <a href="" id="jeans10"><img src="/images/articpatch10.png" alt="" width="200px" height="250px">
                    <div class="jeans10-9"><img src="/images/articpatch10-9.png" alt="" height="250px" width="200px">
                    </div>
                    <div>Artic Pstch</div>
                    <div>₹2999</div>
                </a>
                <a href="" id="jeans11"><img src="/images/captainamerica11.png" alt="" width="200px" height="250px">
                    <div class="jeans11-12"><img src="/images/captainamerica11-12.png" alt="" height="250px"
                            width="200px">
                    </div>
                    <div>Captain America edition</div>
                    <div>₹1799</div>
                </a>
                <a href="" id="jeans12"><img src="/images/brown12.png" alt="" width="200px" height="250px">
                    <div class="jeans12-11"><img src="/images/brown12-11.png" alt="" height="250px" width="200px">
                    </div>
                    <div>Classic Brown</div>
                    <div>₹2999</div>
                </a>
            </div>
        </div>


        <div class="side">
            <h2 class="h2">Products</h2>
            <ul>
                <li class="slidechild"><input type="checkbox"><a href="#">Oversizedshirt</li></a>
                <li class="slidechild"><input type="checkbox"><a href="#">Joggers</a></li>
                <li class="slidechild"><input type="checkbox">T-shirt</li>
                <li class="slidechild"><input type="checkbox">Hoodie</li>
                <li class="slidechild"><input type="checkbox">Sneakers</li>
                <li class="slidechild"><input type="checkbox">Jackets</li>
                <li class="slidechild"><input type="checkbox">Perfume</li>
                <li class="slidechild"><input type="checkbox">Fan Edition</li>
                <li class="slidechild"><input type="checkbox">Self print</li>
            </ul>

            <div class="sizes">
                <h2>
                    Sizes
                </h2>
                <div>
                    <button class="xxs">24</button><button class="xs">26</button><button class="s">28</button>
                </div>
                <div>
                    <button class="m">30</button><button class="l">32</button><button class="xl">34</button>
                </div>
                <div>
                    <button class="xxl">36</button><button class="xxxl">38</button>
                    <button class="xxxxl">40</button>
                </div>
            </div>

            <div class="prices">
                <h2>Prices</h2>
                <ul>
                    <li><input type="checkbox">1000 to 1500</li>
                    <li><input type="checkbox">1300 to 2000</li>
                    <li><input type="checkbox">2000 to 2500</li>
                    <li><input type="checkbox">2500 to 3500</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>