<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>polos</title>
    <link rel="stylesheet" href="/stylesheet/polos.css">
</head>

<body>
    <nav id="navbar">
        <ul>
            <li class="item"><a href="/">Home</a></li>
            <li class="item"><a href="/service" target="_blank">Service</a></li>
            <li class="item"><a href="/about" target="_blank">About</a></li>
            <li class="item"><a href="/contact" target="_blank">Contact</a></li>

        </ul>
        <div><input type="text" placeholder="SearchHere"></div>
        <div class="dropdown">
            <button class="dropbtn">More <i class="fa-caret-down"></i>

                <div class="dropdown-content">
                    <a href="/">Home</a>
                    <a href="#">My cart</a>
                    <a href="#">Oversizedshirt</a>
                    <a href="#">Jeans</a>
                    <a href="#">Winter</a>
                    <a href="#">Login/SignUp</a>
                </div>
        </div>
        <a href="/"><img id="logoimg" src="/images/logo.png" alt="" height="100vh" width="100vw"></a>
    </nav>
    <div class="frontimg">
        <img src="/images/polos forntimg.png" alt="" width="100%">
    </div>
    <div class="fronttext">
        <a href="/">Home</a>
        <span>/Polos item-12</span>

        <div>
            <div id="polos">
                <div id="layer1">
                    <a id="polos1" href="#"><img src="/images/hulksmasher1.png" height="250px" width="200px">
                        <div class="polos1-2"><img src="/images/hulksmasher1-2.png" alt="" height="250px" width="200px">
                        </div>
                        <p id="looney">Hulk:Logo</p>
                        <p>₹ 1099</p>
                    </a>
                    <a id="polos2" href="#"><img src="/images/captainamericasiper2.png" width="200px" height="250px"
                            alt="">
                        <div class="polos2-1"><img src="/images/captainamericasiper2-1.png" alt="" height="250px"
                                width="200px">
                        </div>
                        <div id="peanuts">Captain America</div>
                        <div>₹ 1699</div>
                    </a>
                    <a href="" id="polos3"><img src="/images/punisheroneman3.png" width="200px" height="250px" alt="">
                        <div class="polos3-4"><img src="/images/punisheroneman3-4.png" alt="" height="250px"
                                width="200px">
                        </div>
                        <div>Punisher:One Man</div>
                        <div>₹899</div>
                    </a>
                    <a href="" id="polos4"><img src="/images/harrypotter4.png" width="200px" height="250px" alt="">
                        <div class="polos4-3"><img src="/images/harrypotter4-3.png" alt="" height="250px" width="200px">
                        </div>
                        <div>Harry Potter</div>
                        <div>₹799</div>
                    </a>
                </div>
                <div id="layer2">
                    <a href="" id="polos5"><img src="/images/dumnledoresarmy5.png" alt="" width="200px" height="250px">
                        <div class="polos5-6"><img src="/images/dumnledoresarmy5-6.png" alt="" height="250px"
                                width="230px">
                        </div>
                        <div>Harry Potter</div>
                        <div>₹1099</div>
                    </a>
                    <a href="" id="polos6"><img src="/images/punisherlogo6.png" alt="" width="200px" height="250px">
                        <div class="polos6-5"><img src="/images/punisherlogo6-5.png" alt="" height="250px" width="200px">
                        </div>
                        <div>Punisher: Logo</div>
                        <div>₹849</div>
                    </a>
                    <a href="" id="polos7"><img src="/images/whiteberrycolorblock7.png" alt="" width="200px"
                            height="250px">
                        <div class="polos7-8"><img src="/images/whiteberrycolorblock7-8.png" alt="" height="250px"
                                width="200px">
                        </div>
                        <div>Solid: White Berry</div>
                        <div>₹1499</div>
                    </a><a href="" id="polos8"><img src="/images/manchestercity8.png" alt="" width="200px" height="250px">
                        <div class="polos8-7"><img src="/images/manchestercity8-7.png" alt="" height="250px"
                                width="200px">
                        </div>
                        <div>Manchester City</div>
                        <div>₹1999</div>
                    </a>
                </div>
                <div id="layer3">
                    <a href="" id="polos9"><img src="/images/antiquered9.png" alt="" width="200px" height="250px">
                        <div class="polos9-10"><img src="/images/antiquered9-10.png" alt="" height="250px" width="200px">
                        </div>
                        <div>Antique Red</div>
                        <div>₹999</div>
                    </a>
                    <a href="" id="polos10"><img src="/images/pinkgrey10.png" alt="" width="200px" height="250px">
                        <div class="polos10-9"><img src="/images/pinkgrey10-11.png" alt="" height="250px" width="200px">
                        </div>
                        <div>Solid:Pink & Grey</div>
                        <div>₹899</div>
                    </a>
                    <a href="" id="polos11"><img src="/images/topgun11.png" alt="" width="200px" height="250px">
                        <div class="polos11-12"><img src="/images/topgun11-12.png" alt="" height="250px" width="200px">
                        </div>
                        <div>Top Gun</div>
                        <div>₹999</div>
                    </a>
                    <a href="" id="polos12"><img src="/images/horizonstripes12.png" alt="" width="200px" height="250px">
                        <div class="polos12-11"><img src="/images/horizonstripes12-11.png" alt="" height="250px"
                                width="220px">
                        </div>
                        <div>Solid:Horizantal Stripes</div>
                        <div>₹1099</div>
                    </a>
                </div>
            </div>


            <div class="side">
                <h2 class="h2">Products</h2>
                <ul>
                    <li class="slidechild"><input type="checkbox">Oversizedshirt</li>
                    <li class="slidechild"><input type="checkbox">Joggers</li>
                    <li class="slidechild"><input type="checkbox">T-shirt</li>
                    <li class="slidechild"><input type="checkbox">Hoodie</li>
                    <li class="slidechild"><input type="checkbox">Sneakers</li>
                    <li class="slidechild"><input type="checkbox">Jackets</li>
                    <li class="slidechild"><input type="checkbox">Perfume</li>
                    <li class="slidechild"><input type="checkbox">Fan Edition</li>
                    <li class="slidechild"><input type="checkbox">Self print</li>
                </ul>

                <div class="sizes">
                    <h2>
                        Sizes
                    </h2>
                    <div>
                        <button class="xxs">XXS</button><button class="xs">XS</button><button class="s">S</button>
                    </div>
                    <div>
                        <button class="m">M</button><button class="l">L</button><button class="xl">XL</button>
                    </div>
                    <div>
                        <button class="xxl">XXL</button><button class="xxxl">XXXL</button>

                    </div>
                </div>

                <div class="prices">
                    <h2>Prices</h2>
                    <ul>
                        <li><input type="checkbox">0 to 1000</li>
                        <li><input type="checkbox">1000 to 1500</li>
                        <li><input type="checkbox">1500 to 1800</li>
                        <li><input type="checkbox">1800 to 2500</li>
                    </ul>
                </div>
            </div>
        </div>
</body>

</html>