<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shirts</title>
    <link rel="stylesheet" href="/stylesheet/shirts.css">
</head>
<body>
    <nav id="navbar">
        <ul>
            <li class="item"><a href="/">Home</a></li>
            <li class="item"><a href="/service" target="_blank">Service</a></li>
            <li class="item"><a href="/about" target="_blank">About</a></li>
            <li class="item"><a href="/contact" target="_blank">Contact</a></li>

        </ul>
        <div><input type="text" placeholder="SearchHere"></div>
        <div class="dropdown">
            <button class="dropbtn">More <i class="fa-caret-down"></i>




                <div class="dropdown-content">
                    <a href="/">Home</a>
                    <a href="#">My cart</a>
                    <a href="#">Oversizedshirt</a>
                    <a href="#">Jeans</a>
                    <a href="#">Winter</a>
                    <a href="#">Login/SignUp</a>
                </div>
        </div>
        <a href="/"><img id="logoimg" src="/images/logo.png" alt="" height="100vh" width="100vw"></a>
    </nav>
    <div class="frontimg">
        <img src="/images/shirts frontimg.png" alt="" width="100%">
    </div>
    <div class="fronttext">
        <a href="/">Home</a>
        <span>/Shirts item-12</span>
    </div>

    <div>
        <div id="shirts">
            <div id="layer1">
                <a id="shirts1" href="#"><img src="/images/rebelmoon1.png" height="250px" width="200px">
                    <div class="shirts1-2"><img src="/images/rebelmoon1-2.png" alt="" height="250px" width="200px">
                    </div>
                    <p id="looney">Rebel moon</p>
                    <p>₹ 1899</p>
                </a>
                <a id="shirts2" href="#"><img src="/images/deadpool2.png" width="200px" height="250px" alt="">
                    <div class="shirts2-1"><img src="/images/deadpool2-1.png" alt="" height="250px" width="200px">
                    </div>
                    <div id="peanuts">Deadpool Edition</div>
                    <div>₹ 1699</div>
                </a>
                <a href="" id="shirts3"><img src="/images/seirra3.png" width="200px" height="250px" alt="">
                    <div class="shirts3-4"><img src="/images/seirra3-4.png" alt="" height="250px" width="200px">
                    </div>
                    <div>Seria</div>
                    <div>₹899</div>
                </a>
                <a href="" id="shirts4"><img src="/images/plaidpower4.png" width="200px" height="250px" alt="">
                    <div class="shirts4-3"><img src="/images/plaidpower4-3.png" alt="" height="250px" width="200px">
                    </div>
                    <div>Captain America:Paid</div>
                    <div>₹1499</div>
                </a>
            </div>
            <div id="layer2">
                <a href="" id="shirts5"><img src="/images/redgrey5.png" alt="" width="200px" height="250px">
                    <div class="shirts5-6"><img src="/images/redgrey5-6.png" alt="" height="250px" width="200px">
                    </div>
                    <div>Solid:Red,Grey</div>
                    <div>₹1099</div>
                </a>
                <a href="" id="shirts6"><img src="/images/blackbluered6.png" alt="" width="200px" height="250px">
                    <div class="shirts6-5"><img src="/images/blackbluered6-5.png" alt="" height="250px" width="200px">
                    </div>
                    <div>Solid:Black, Blue</div>
                    <div>₹1149</div>
                </a>
                <a href="" id="shirts7"><img src="/images/offwhite7.png" alt="" width="200px" height="250px">
                    <div class="shirts7-8"><img src="/images/offwhite7-8.png" alt="" height="250px" width="200px">
                    </div>
                    <div>Off White</div>
                    <div>₹2099</div>
                </a><a href="" id="shirts8"><img src="/images/texrureblack8.png" alt="" width="200px" height="250px">
                    <div class="shirts8-7"><img src="/images/texrureblack8-7.png" alt="" height="250px" width="200px">
                    </div>
                    <div>Solid:Texture Black</div>
                    <div>₹999</div>
                </a>
            </div>
            <div id="layer3">
                <a href="" id="shirts9"><img src="/images/indieprint9.png" alt="" width="200px" height="250px">
                    <div class="shirts9-10"><img src="/images/indieprint9-10.png" alt="" height="250px" width="200px">
                    </div>
                    <div>Indie Print</div>
                    <div>₹999</div>
                </a>
                <a href="" id="shirts10"><img src="/images/whitegreystripes10.png" alt="" width="200px" height="250px">
                    <div class="shirts10-9"><img src="/images/whitegreystripes10-9.png" alt="" height="250px" width="200px">
                    </div>
                    <div>Solid:White, Grey</div>
                    <div>₹1299</div>
                </a>
                <a href="" id="shirts11"><img src="/images/marina11.png" alt="" width="200px" height="250px">
                    <div class="shirts11-12"><img src="/images/marina11-12.png" alt="" height="250px"
                            width="200px">
                    </div>
                    <div>Marina</div>
                    <div>₹1799</div>
                </a>
                <a href="" id="shirts12"><img src="/images/darknight12.png" alt="" width="200px" height="250px">
                    <div class="shirts12-11"><img src="/images/darknight12-11.png" alt="" height="250px" width="200px">
                    </div>
                    <div>Batman:Dark Knight</div>
                    <div>₹1499</div>
                </a>
            </div>
        </div>


        <div class="side">
            <h2 class="h2">Products</h2>
            <ul>
                <li class="slidechild"><input type="checkbox"><a href="#">Oversizedshirt</li></a>
                <li class="slidechild"><input type="checkbox"><a href="#">Joggers</a></li>
                <li class="slidechild"><input type="checkbox">T-shirt</li>
                <li class="slidechild"><input type="checkbox">Hoodie</li>
                <li class="slidechild"><input type="checkbox">Sneakers</li>
                <li class="slidechild"><input type="checkbox">Jackets</li>
                <li class="slidechild"><input type="checkbox">Perfume</li>
                <li class="slidechild"><input type="checkbox">Fan Edition</li>
                <li class="slidechild"><input type="checkbox">Self print</li>
            </ul>

            <div class="sizes">
                <h2>
                    Sizes
                </h2>
                <div>
                    <button class="xxs">XXS</button><button class="xs">XS</button><button class="s">S</button>
                </div>
                <div>
                    <button class="m">M</button><button class="l">L</button><button class="xl">XL</button>
                </div>
                <div>
                    <button class="xxl">XXL</button><button class="xxxl">XXXL</button>
                    
                </div>
            </div>

            <div class="prices">
                <h2>Prices</h2>
                <ul>
                    <li><input type="checkbox">0 to 1000</li>
                    <li><input type="checkbox">1000 to 1500</li>
                    <li><input type="checkbox">1500 to 1800</li>
                    <li><input type="checkbox">1800 to 2500</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>