<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sneakers</title>
    <link rel="stylesheet" href="/stylesheet/sneakers.css">
</head>
<body>
    <nav id="navbar">
        <ul>
            <li class="item"><a href="/">Home</a></li>
            <li class="item"><a href="/service" target="_blank">Service</a></li>
            <li class="item"><a href="/about" target="_blank">About</a></li>
            <li class="item"><a href="/contact" target="_blank">Contact</a></li>

        </ul>
        <div><input type="text" placeholder="SearchHere"></div>
        <div class="dropdown">
            <button class="dropbtn">More <i class="fa-caret-down"></i>

                <div class="dropdown-content">
                <a href="/">Home</a>
                <a href="#">My cart</a>
                <a href="#">Oversizedshirt</a>
                <a href="#">Jeans</a>
                <a href="#">Winter</a>
                <a href="#">Login/SignUp</a>
            </div>
        </div>
        <a href="/"><img id="logoimg" src="/images/logo.png" alt="" height="100vh" width="100vw"></a>
    </nav>
    <div class="frontimg">
        <img src="/images/sneakers frontimg.png" alt="" width="100%">
    </div>
    <div class="fronttext">
        <a href="/">Home</a>
        <span>/Sneakers item-08</span>

        <div>
            <div id="sweatshirts">
                <div id="layer1">
                    <a id="sweatshirts1" href="#"><img src="/images/topgun1.png" height="250px" width="200px">
                        <div class="sweatshirts1-2"><img src="/images/topgun1-2.png" alt="" height="250px" width="200px">
                        </div>
                        <p id="looney">Top Gun</p>
                        <p>₹ 2999</p>
                    </a>
                    <a id="sweatshirts2" href="#"><img src="/images/urbanblaze2.png" width="200px" height="250px"
                            alt="">
                        <div class="sweatshirts2-1"><img src="/images/urbanblaze2-1.png" alt="" height="250px"
                                width="200px">
                        </div>
                        <div id="peanuts">Urban Blaze</div>
                        <div>₹ 1999</div>
                    </a>
                    <a href="" id="sweatshirts3"><img src="/images/supermen3.png" width="200px" height="250px" alt="">
                        <div class="sweatshirts3-4"><img src="/images/supermen3-4.png" alt="" height="250px"
                                width="200px">
                        </div>
                        <div>Superman</div>
                        <div>₹2499</div>
                    </a>
                    <a href="" id="sweatshirts4"><img src="/images/meadows4.png" width="200px" height="250px" alt="">
                        <div class="sweatshirts4-3"><img src="/images/meadows4-3.png" alt="" height="250px" width="200px">
                        </div>
                        <div>Meadows</div>
                        <div>₹1499</div>
                    </a>
                </div>
                <div id="layer2">
                    <a href="" id="sweatshirts5"><img src="/images/Dark Knight5.png" alt="" width="200px" height="250px">
                        <div class="sweatshirts5-6"><img src="/images/Dark Knight5-6.png" alt="" height="250px"
                                width="230px">
                        </div>
                        <div>Dark Knight</div>
                        <div>₹3499</div>
                    </a>
                    <a href="" id="sweatshirts6"><img src="/images/milesmorales6.png" alt="" width="200px" height="250px">
                        <div class="sweatshirts6-5"><img src="/images/milesmorales6-5.png" alt="" height="250px" width="200px">
                        </div>
                        <div>Miles Morales</div>
                        <div>₹2499</div>
                    </a>
                    <a href="" id="sweatshirts7"><img src="/images/deadpool7.png" alt="" width="200px"
                            height="250px">
                        <div class="sweatshirts7-8"><img src="/images/deadpool7-8.png" alt="" height="250px"
                                width="200px">
                        </div>
                        <div>Deadpool</div>
                        <div>₹1999</div>
                    </a><a href="" id="sweatshirts8"><img src="/images/blackpanther8.png" alt="" width="200px" height="250px">
                        <div class="sweatshirts8-7"><img src="/images/blackpanther8-7.png" alt="" height="250px"
                                width="200px">
                        </div>
                        <div>Black Panther</div>
                        <div>₹1799</div>
                    </a>
                </div>
            </div>


            <div class="side">
                <h2 class="h2">Products</h2>
                <ul>
                    <li class="slidechild"><input type="checkbox">Oversizedshirt</li>
                    <li class="slidechild"><input type="checkbox">Joggers</li>
                    <li class="slidechild"><input type="checkbox">T-shirt</li>
                    <li class="slidechild"><input type="checkbox">Hoodie</li>
                    <li class="slidechild"><input type="checkbox">Sneakers</li>
                    <li class="slidechild"><input type="checkbox">Jackets</li>
                    <li class="slidechild"><input type="checkbox">Perfume</li>
                    <li class="slidechild"><input type="checkbox">Fan Edition</li>
                    <li class="slidechild"><input type="checkbox">Self print</li>
                </ul>

                <div class="sizes">
                    <h2>
                        Sizes
                    </h2>
                    <div>
                        <button class="xxs">XXS</button><button class="xs">XS</button><button class="s">S</button>
                    </div>
                    <div>
                        <button class="m">M</button><button class="l">L</button><button class="xl">XL</button>
                    </div>
                    <div>
                        <button class="xxl">XXL</button><button class="xxxl">XXXL</button>

                    </div>
                </div>
            </div>
        </div>
</body>
</html>